services:
  nextjs-app:
    build:
      context: .
      target: development # Use development mode
    # environment:
    #   - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: yarn dev
